<!DOCTYPE html>
<html>
  <head>
    <title>ID test</title>
    <meta charset="utf-8">
    <link href="https://developers.google.com/maps/documentation/javascript/examples/default.css" rel="stylesheet">
    <link href="test.css" rel="stylesheet">
  </head>
  <body>
    <div id="map-canvas"></div>
    <div id="bus-stop-departures"></div>

    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type='text/javascript' src="http://underscorejs.org/underscore.js"></script>
    <script type='text/javascript' src="http://backbonejs.org/backbone.js"></script>
    <script type='text/javascript' src="http://marionettejs.com/downloads/backbone.marionette.js"></script>
    <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>
    <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>

    <script type='text/javascript' src="public/js/vendor/class.js"></script>

    <!--<script type="text/template" id="departure-template">
      <p><%- routeName %> <%- destination %> <%- nextDepartures.length %></p>
    </script>-->

    <script id="departure-template" type="text/x-handlebars-template">
      <p>{{routeName}} {{destination}} {{nextDepartures.length}}</p>
    </script>


    <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
    <script type="text/javascript">
      var app = new Marionette.Application();

      var RouteArrival = Backbone.Model.extend({
        defaults:{
          "routeId":       undefined,
          "routeName":     undefined,
          "destination":   undefined,
          "scheduledTime": undefined
        }
      });

      var RouteArrivals = Backbone.Collection.extend({
        model: RouteArrival,
        url: "/bus-stops/"
      });

      var RouteDeparture = RouteArrival.extend({
        idAttribute: "routeId",
        defaults:{
          "nextDepartures": []
        }
      });

      var RouteDepartures = Backbone.Collection.extend({
        model: RouteDeparture,
        sync: null
      });

      var Model = Class.extend({
        _currBusStop: null,
        _lastUpdated: undefined,

        arrivals:    new RouteArrivals(),       //Collection holding raw bus stop API results
        departures:  new RouteDepartures(),     //Collection for processed arrivals data, bindable

        initialize: function () {
          //Custom parsing before injecting response from /bus-stops/<id>
          this.arrivals.parse = this.onParseArrivals.bind(this);
        },

        reset: function(){
          this.arrivals.reset();
          this.departures.reset();
        },

        refresh: function(onSuccess, onError){
          if(typeof onSuccess !== "function") onSuccess = function(){};
          if(typeof onError !== "function") onError = function(){};

          var self = this;

          if(self.currBusStop){
            //Setting up REST API URL to current model's bus stop
            self.arrivals.url = "/bus-stops/" + self.currBusStop;

            //Request to the persistence layer for updates. By default a REST API.
            self.arrivals.fetch({
              dataType: "jsonp",

              success: function(arrivals, response, options) {
                //Setting up app's current time, based on server response instead of local time.
                // This makes the app time-zone independent, avoiding Madrid/London differences
                self._lastUpdated = self.parseTime(response["lastUpdated"]);

                //Groups arrivals by route. There exist 1-N arrivals for each route
                var groups = arrivals.groupBy("routeId");

                //Picks first arrival instance of every route and nests the rest in "nextDepartures" property
                var departures =
                  _.chain(groups)
                  .keys()
                  .map(function(routeId) {
                    var routeData = arrivals.findWhere({"routeId": routeId});
                    return {
                      "routeId":        routeData.get("routeId"),
                      "routeName":      routeData.get("routeName"),
                      "destination":    routeData.get("destination"),
                      "estimatedWait":  routeData.get("estimatedWait"),
                      "scheduledTime":  groups[routeId][0].get(["scheduledTime"]),

                      "nextDepartures": new RouteArrivals(_.rest(groups[routeId]))
                    }
                  })
                  .sortBy("scheduledTime")
                  .value();

                //Smart update of previous departures with these newly processed ones
                self.departures.set(departures);

                console.log("model.refresh() SUCCESS!");
                onSuccess();
              },

              error: function(err){
                console.log("model.refresh() ERROR -->"); console.log(err);
                onError(err);
              }
            })
          } else {
            onError("BUS_STOP_UNDEFINED");
          }
        },

        /**
         * Custom processing of REST API response before injecting it in the Backbone collection
         */
        onParseArrivals: function(response) {
          var self = this;
          _(response["arrivals"]).each(function(arrival) {

            //UUID creation for every models in the collection. Needed for smart updates later on
            arrival.id = arrival["routeId"] + "_" + arrival["scheduledTime"]; //.split(":").join("_");

            //Parsing arrival time from string to integer timestamp
            arrival.scheduledTime = self.parseTime(arrival["scheduledTime"]);
          });

          //Returning parsed data to the collection
          return response["arrivals"];
        },

        /**
         * Parses a scheduledTime string from the API, like "[ddd ]hh:mm", into an absolute integer timestamp
         *
         * @param timeString
         * @returns {number}
         */
        parseTime: function(timeString){
          var now = new Date();
          var hoursAndMinutes = timeString.split(":");
          var hours = hoursAndMinutes[0];
          var minutes = hoursAndMinutes[1];
          var delta = 0;

          //Checks if this time string is on the next day. If that is the case it'll follow the pattern "ddd hh:mm"
          if(hours.indexOf(" ") > -1){
            hours = hours.split(" ")[1];
            delta = 24 * 60 * 60 * 1000;  //Milliseconds in a day
          }
          return Date.UTC(now.getFullYear(), now.getUTCMonth(), now.getUTCDay(), hours, minutes) + delta;
        }

      });

      //-----------------------------------------
      // Getters & Setters
      //-----------------------------------------

      Object.defineProperty(Model.prototype, "currBusStop", {
        get: function () {
          return this._currBusStop;
        },
        set: function(str){
          if (str !== this._currBusStop) {
            this._currBusStop = str;
            this.reset();
            this.refresh();
          }
        },
        enumerable: true,
        configurable: true
      });

      Object.defineProperty(Model.prototype, "lastUpdated", {
        get: function () {
          return this._lastUpdated;
        },
        enumerable: true,
        configurable: true
      });


      var DepartureView = Marionette.ItemView.extend({
        template: Handlebars.compile($("#departure-template").html()),
        tagName: "item",
        modelEvents:{
          "change": function(){
            this.render();
          }
        }
      });

      var DeparturesView = Marionette.CollectionView.extend({
        childView: DepartureView
      });

      app.on("start", function () {
        app.addRegions({
          departures: "#bus-stop-departures"
        });

        app.model = new Model();
        app.model.initialize();

        app.view = new DeparturesView();
        app.view.collection = app.model.departures;

        app.departures.show(app.view);

        app.model.currBusStop = 73044;
        app.model.refresh(function () {
        });
      });

      app.start();

    </script>
  </body>
</html>
