.DS_Store
.idea
*.sublime*
*.rar
*.zip
*.map
*.bak
process.sh
process.bat
bower_components
node_modules
build
src/js/templates.js
Thumbs.db
**/Thumbs.db
src/js/modules/*
src/*
processPhonegapArt.bat
cache/
*.pdf
heroku*