body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  color: #000000;
}

#title-bar {
  color: black;
  height: 2em;
  font-size: 1.5em;
}

#bus-stop-header {
  background: red;
  color: white;
  height: 3.5em;
}

#bus-stop-header .stop-towards {
  font-size: 0.75em;
}

#map-canvas {
  height: 40%;
  margin: 0px;
  padding: 0px
}

#last-refresh {
  background: red;
  color: white;
  height: 1.5em;
}

#route-departures {
  margin: 0px;
  padding: 0px;
}

  #route-departures div {
    font-size: 1.25em;
  }

    #route-departures div .route {
      width: 100%;
      height: 100%;
      display: inline-block;
    }

      #route-departures div .route .name {
        width: auto;
        top: 0;
        left: 0;
        color: red;
      }

      #route-departures div .route .destination {
        width: auto;
        left: 0;
        bottom: 0;
        font-size: 0.75em;
        color: lightgrey;
      }

      #route-departures div .route .arrival {
        width: auto;
        top: 0;
        right: 0;
        font-size: 1.25em;
      }

      #route-departures div .route .next-departures {
        width: auto;
        bottom: 0;
        right: 0;
        font-size: 0.75em;
        color: darkgrey;
      }

