@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  min-width: 320px;
}

h2{
  font-size: 1.2em;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f4f3ec;
}

.title-bar {
  position: relative;
  height: 3em;
  background-color: #fff;
}
  .title {
    color: black;
    font-size: 1.5em;
    line-height: 2;
    text-align: center;
    margin: 0;
  }

.button-refresh {
  position: absolute;
  right: .5em;
  top: .5em;
}
  .button-refresh svg {
    width: 2em;
    height: 2em;
    fill: red;
  }

.bus-stop-header {
  position: relative;
  background: red;
  color: white;
  padding: .25em .5em .25em 2.25em;
}
  .stop-indicator-bullet {
    position: absolute;
    left: .25em;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .stop-indicator-bullet svg {
    width: 1.5em;
    height: 1.5em;
    fill: #fff;
    vertical-align: top;
  }
  .stop-indicator {
    position: absolute;
    left: 0.96em;
    top: 31%;
    font-size: 0.85em;
    font-weight: 900;
    color: #f00;
    -webkit-transform: translateX(-21%);
            transform: translateX(-21%);
  }
  .stop-name, .stop-towards {
    margin: 0;
  }
  .stop-towards {
    font-size: 0.75em;
  }

#map-canvas {
  margin: 0;
  padding: 0
}

.last-refresh {
  background: red;
  color: white;
  line-height: 1.5;
  padding: 0 .5em;
}

#route-departures {
  list-style: none;
  margin: 0;
  padding: 0;
}
  .route {
    font-size: 1.25em;
    padding: .25em .5em;
    border-bottom: 2px solid #eee;
  }
  .route div{
    float: left;
    width: 50%;
  }
  .route span{
    display: block;
  }
  .arrival, .next-departures{
    text-align: right;
  }
  .name, .destination, .arrival {
    font-weight: 700;
  }
  .name {
    font-size: 1.5em;
    line-height: 1;
    color: red;
  }
  .destination {
    font-size: .85em;
    color: #999;
  }
  .arrival {
    font-size: 1.25em;
  }
    .arrival small {
      font-size: .5em;
      color: #444;
    }
  .next-departures {
    font-size: 0.7em;
    color: #666;
  }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
